@using MetaFrm.Control
@using MetaFrm.Razor.Essentials
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<div class="container">
    <div class="form-outline">
        <h1>Password Reset</h1>
        <p>@Factory.ProjectService.ServiceName</p>
    </div>
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6 mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <EditForm Model="@this.PasswordResetViewModel" OnValidSubmit="this.OnPasswordResetClick" OnInvalidSubmit="this.HandleInvalidSubmit">
                <DataAnnotationsValidator />

                @if (!this.PasswordResetViewModel.AccessCodeVisible)
                {
                    <div class="row">
                        <FieldControl Label="Email address" CssClassAppend="py-2 col-md-12">
                            <Control>
                                <InputText id="email" class="form-control col-md-6" placeholder="Email address"
                                       @bind-Value="this.PasswordResetViewModel.Email" @onkeydown="@EmailKeydown"
                                       disabled="@this.PasswordResetViewModel.AccessCodeVisible" readonly="@this.PasswordResetViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.PasswordResetViewModel.Email)" />
                            </Control>
                        </FieldControl>
                    </div>

                    <div class="row pb-2">
                        <FieldControl Label="" IsColon="false" Value="@("")"></FieldControl>
                        <FieldControl Label="" IsColon="false">
                            <Control>
                                <button type="button" class="btn btn-primary btn-block w-100" @onclick="GetAccessCode" disabled="@(this.PasswordResetViewModel.AccessCodeVisible && !this.PasswordResetViewModel.IsBusy)">Get Access Code</button>
                            </Control>
                        </FieldControl>
                    </div>
                }
                else
                {
                    <div class="row pb-0">
                        <FieldControl Label="Remaining time" CssClassLabel="text-center" IsColon="false">
                            <Control>
                                <div class="text-center">@($"{this.RemainTime.ToString("hh\\:mm\\:ss")}")</div>
                            </Control>
                        </FieldControl>
                        <FieldControl Label="Email Verification Code" IsColon="false">
                            <Control>
                                <input id="inputaccesscode" type="text" class="form-control @(this.PasswordResetViewModel.AccessCodeConfirmVisible && !this.PasswordResetViewModel.IsBusy?"is-valid":"is-invalid")" placeholder="Access Code"
                                   @bind-value="this.PasswordResetViewModel.InputAccessCode" @bind-value:event="oninput" @onkeydown="@InputAccessCodeKeydown"
                                   disabled="@(!this.PasswordResetViewModel.AccessCodeVisible && !this.PasswordResetViewModel.IsBusy)" />
                            </Control>
                        </FieldControl>
                    </div>

                    <div class="row pb-2">
                        <FieldControl Label="Password">
                            <Control>
                                <InputText id="password" type="password" class="form-control" placeholder="* Password" @bind-Value="this.PasswordResetViewModel.Password" @onkeydown="@PasswordKeydown"
                                       disabled="@(!this.PasswordResetViewModel.AccessCodeVisible && !this.PasswordResetViewModel.IsBusy)" />
                                <ValidationMessage For="@(()=>this.PasswordResetViewModel.Password)" />
                            </Control>
                        </FieldControl>
                        <FieldControl Label="Repeat Password">
                            <Control>
                                <InputText id="repeatpassword" type="password" class="form-control" placeholder="* Repeat Password" @bind-Value="this.PasswordResetViewModel.RepeatPassword"
                                       disabled="@(!this.PasswordResetViewModel.AccessCodeVisible && !this.PasswordResetViewModel.IsBusy)" />
                                <ValidationMessage For="@(()=>this.PasswordResetViewModel.RepeatPassword)" />
                            </Control>
                        </FieldControl>
                    </div>

                    <div class="row">
                        <FieldControl Label="" IsColon="false" Value="@("")"></FieldControl>
                        <FieldControl Label="" IsColon="false">
                            <Control>
                                <button type="submit" class="btn btn-primary btn-block w-100" disabled="@(!this.PasswordResetViewModel.AccessCodeVisible)"><span class="oi oi-pencil" /> Password Reset</button>
                            </Control>
                        </FieldControl>
                    </div>
                }
            </EditForm>
        </div>
    </div>
</div>